@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --color-primary: #000000;
  --color-secondary: #a9a9a9;
  --color-tetriary: #696969;
  --color-accent-primary: #ea625c;
  --color-accent-secondary: #ec726c;
  --color-button-text: #ffffff;  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Header */

header,
.container-global,
.features {
  max-width: 1400px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 2rem;
}

.menu {
  list-style: none;
  font-weight: 500;
}

.menu__item {
  display: inline-block;
  margin-left: 3em;
  /* background-color: yellow; */
}

.menu__link {
  display: block;
  color: var(--color-secondary);
  text-decoration: none;
  padding: .25em 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom 250ms ease, color 250ms ease;
}

.menu__link:hover {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.menu__help {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-tetriary);
  padding-bottom: .25em;
  border: none;
  border-bottom: 1px solid var(--color-secondary);
  width: 200px;
}

.menu__help:focus {
  outline: none;
}

.menu__help::placeholder {
  color: var(--color-secondary);
}

/* Cover Section */

.cover {
  min-height: 80vh;
  min-width: 1200px;
  background-image: url("img/watches.jpg");
  background-repeat: no-repeat;
  background-position: top right -35%;
  border-bottom: 1px solid var(--color-secondary);
}

.cover__content {
  max-width: 54ch;
  margin-top: 5rem;
}

.title-h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.subtitle {
  color: var(--color-tetriary);
  line-height: 1.75em;
  padding: .25em 2.5em;
  margin-bottom: 3rem;
  border-left: 3px solid var(--color-tetriary);
}

.button {
  display: block;
  width: max-content;
  padding: 1.25em 1.5em;
  background-color: var(--color-accent-primary);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: var(--color-button-text);
  transition: background-color 250ms ease;
}

.button:hover {
  background-color: var(--color-accent-secondary);
}

/* Features Section */

.features-container {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.feature {
  flex: 1;
  margin-right: 8.5rem;
}

.title-h2 {
  font-size: 1.15rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.feature-description {
  color: var(--color-primary);
  line-height: 1.75em;
}

.feature-description_no-link::after {
  content: "▪ ▪ ▪";
  display: block;
  color: var(--color-secondary);
  letter-spacing: .25em;
  margin-top: .5rem;
}

.feature-link-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  margin-top: 1rem;
  width: 50%;

  transition: width 250ms ease;
}

.feature-link-container:hover {
  width: 55%;
}

.feature-link__accent-line {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  margin-right: .5rem;
  background-color: var(--color-accent-primary);
}

.feature-link__text {
  z-index: 1;
  padding-left: .5em;

  color: var(--color-accent-primary);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  background-color: #ffffff;
}


